<h1>Listing item_orders</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Item</th>
  </tr>

<% @item_orders.each do |item_order| %>
  <tr>
    <td><%=h item_order.order_id %></td>
    <td><%=h item_order.item_id %></td>
    <td><%= link_to 'Show', item_order %></td>
    <td><%= link_to 'Edit', edit_item_order_path(item_order) %></td>
    <td><%= link_to 'Destroy', item_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_order', new_item_order_path %>